<html>
<head>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script>
        $(function(){
            $btn = $("#btn")
            $btn.click(function(){
                $.ajax({
                    "url":"/user/for_ajax/",
                    "type":"post",
                    "data":{"a":1,"b":"bb"},
                    "dataType":"json",
                    success:function(dat){
                        alert(dat.c+dat.d)
                    },
                    error:function(){
                        alert("error")
                    }
                })
            })
        })
    
    
    </script>
</head>
    <input type="button" value="向服务器发送ajax请求" id="btn">
<body>

</body>
</html>
